main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .details {
    margin-bottom: 2rem;

    .detail-item {
      display: none;

      h1 {
        font-size: $fontSize * 2;

        @include ipad {
          font-size: $fontSize * 3;
        }
      }

      p {
        color: $darkGrey;
        font-size: $fontSize - 2;
        line-height: 1.25rem;
        margin-top: 1rem;
      }

      &.visible {
        display: block;
        @include slide;
      }
    }
  }

  a {
    text-decoration: none;
    color: $black;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
  }
}
